body{
  font-family: fantasy;
}
#result{
  width: 193px;
  margin-bottom: 5px;
  height: 25px;
  background:rgb(224, 224, 224);
  text-align: right;
  border: 3px solid tomato;
  padding: 0 5px;
}

button  {
background: aqua;
width: 50px;
height: 30px;
margin: 2px 0;
}

#ac,#equel{
  background:tomato;
  color: white;
}